[submodule "packages/chatbot-channel-backend"]
	path = packages/chatbot-channel-backend
	url = https://github.com/YoguiSan/auto-mecanica-nelson-chatbot-channel-api
[submodule "packages/chatbot-system-backend"]
	path = packages/chatbot-system-backend
	url = https://github.com/YoguiSan/auto-mecanica-nelson-chatbot-system-api.git
[submodule "packages/e100-ui"]
	path = packages/e100-ui
	url = https://yoguisan.visualstudio.com/Auto%20Mec%C3%A2nica%20Nelson/_git/E100%20UI
[submodule "packages/vehicle-system-api"]
	path = packages/vehicle-system-api
	url = https://github.com/YoguiSan/auto-mecanica-nelson-vehicle-system-api.git
